<div class="row">
    <div class="col-md-3 mt-2">
      <div class="card">
        <div class="body d-flex justify-content-around">
          <h5 class="text-center">Registrarse</h5>
          <form>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" placeholder="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="password" class="form-control">
            </div>
            <input type="text" value="enviar" class="btn btn-primary btn-block">
          </form>
        </div>
      </div>
    </div>
  </div>
  